useDynLib(SpatMCA, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
importFrom("graphics", "par", "plot")
importFrom(fields, image.plot)
importFrom(MASS, mvrnorm)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)