useDynLib(SpatMCA, .registration = TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(MASS, mvrnorm)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(scales, trans_breaks)
importFrom(scales, trans_format)
importFrom(scales, math_format)
importFrom(scales, log_trans)
importFrom(graphics,par)
import(ggplot2)
S3method(plot, spatmca)